<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="adminMapper">

	<resultMap id="admin" type="admin">
		<id column="emp_no" property="empNo"/>
		<result column="work_date" property="workDate"/>
		<result column="dept_name" property="deptName"/>
		<result column="emp_name" property="empName"/>
		<result column="start_time" property="startTime"/>
		<result column="end_time" property="endTime"/>
		<result column="after_time" property="afterTime"/>
		<result column="work_time" property="workTime"/>
		<result column="work_status" property="workStatus"/>
		<result column="off_cate_no" property="offCateNo"/>
		<result column="off_cate_name" property="offCateName"/>
		<result column="off_cate_day" property="offCateDay"/>
	</resultMap>
	
	<!-- 일일출퇴근현황 게시글 갯수 -->
	<select id="selectListCount" resultType="_int">
		select
		       count(*)
		  from attendance
	</select>
	
	<!-- 근태통계 / 휴가현황 게시글 갯수 -->
	<select id="selectEmpCount" resultType="_int">
		
	</select>
	
	<!-- 근태통계 조회 -->
	<select id="selectAdAttendance" resultMap="admin">
		select
			   dept_name
			 , job_name
			 , emp_name
			 , work_status
			 , work_stauts
			 , off_given
			 , off_used
			 , off_available
		  from
	</select>
	
	<!-- 일일출퇴근현황 조회 -->
	<select id="selectList" resultMap="admin">
		select 
		       work_date
		     , dept_name
		     , emp_no
		     , emp_name
		     , start_time
		     , end_time
		     , work_time
		     , after_time
		     , work_status
		  from attendance
		  join employee using (emp_no)
		  join department using (dept_code)
	</select>
	
	<!-- 휴가분류 조회 -->
	<select id="selectOffCate" resultMap="admin">
		select
			   off_cate_no
			 , off_cate_name
			 , off_cate_day
		  from off_cate
	</select>


</mapper>