<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="adminMapper">

	<resultMap id="admin" type="admin">
		<id column="emp_no" property="empNo"/>
		<result column="work_date" property="workDate"/>
		<result column="start_date" property="startDate"/>
		<result column="end_date" property="endDate"/>
		<result column="after_time" property="afterTime"/>
		<result column="work_time" property="workTime"/>
		<result column="work_status" property="workStatus"/>
	</resultMap>

	<select id="selectListCount" resultType="_int">
		select
		       count(*)
		  from attendance
	</select>
	
	<select id="selectList" resultMap="admin">
	<!-- 번호 근무일 부서 사번 사원명 출근시간 퇴근시간 근무시간 연장근무시간 -->
		select 
		       work_date
		     , dept_name
		     , emp_no
		     , emp_name
		     , start_time
		     , end_time
		     , work_time
		     , after_time
		     , work_status
		  from attendance
		  join employee using (emp_no)
		  join department using (dept_code)
	</select>


</mapper>