<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace = "noticeMapper">

	<resultMap id="noticeResultset" type="Notice">
		<id column = "notice_no" property = "noticeNo"/>
		<result column = "emp_no" property = "empNo"/>
		<result column = "emp_name" property = "empName"/>
		<result column = "notice_title" property = "noticeTitle"/>
		<result column = "notice_content" property = "noticeContent"/>
		<result column = "enroll_date" property = "enrollDate"/>
		<result column = "modify_date" property = "modifyDate"/>
		<result column = "notice_count" property = "noticeCount"/>
		<result column = "notice_status" property = "noticeStatus"/>
	</resultMap>
	
	
	<resultMap id="likeResultSet" type="Like">
		<id column = "notice_no" property = "noticeNo"/>
		<result column = "emp_no" property = "empNo"/>
	</resultMap>
	
	<!-- 게시글 리스트 조회 -->
	<select id = "selectListCount" resultType = "_int">
		select
			   count(*)
		  from notice
		 where notice_status = 'Y'
	</select>

	<select id = "selectList" resultMap = "noticeResultset">
		select
			   notice_no
			 , emp_name
			 , notice_title
			 , notice_content
			 , enroll_date
			 , modify_date
			 , notice_count
			 , notice_status
			 , emp_no
		  from notice
		  join employee using(emp_no)
		 where notice_status = 'Y' 
		 order
		    by notice_no desc
	</select>
	
	<!-- 게시글 상세보기 (조회수 증가)-->
	<update id="increaseCount" parameterType = "_int">
		update
			   notice
		   set notice_count = notice_count + 1
		 where notice_no = #{noticeNo}
		   and notice_status = 'Y'

	</update>
	
	<!-- 게시글 상세보기 -->
	<select id ="selectNotice" resultMap="noticeResultset">
		select
			   notice_no
			 , emp_name
			 , notice_title
			 , notice_content
			 , enroll_date
			 , modify_date
			 , notice_count
			 , notice_status
		  from notice
		  join employee using(emp_no)
		 where notice_no = #{noticeNo}
		 
	</select>
	
	<!-- 게시글 수정하기 -->
	<update id = "updateNotice" parameterType = "Notice">
		update
			   notice
		   set 
		       notice_title = #{noticeTitle}
		     , notice_content = #{noticeContent}
		 where notice_no = #{noticeNo}
	</update>
	
	<!-- 게시글 작성하기 -->
	
	<insert id="insertNotice" parameterType = "Notice">
		insert
		  into notice
		  (
		  	notice_no
		  ,	notice_title
		  , emp_no
		  , notice_content
		  , enroll_date
		  )
		  values
		  (
		  	SEQ_NNO.NEXTVAL
		  , #{noticeTitle}
		  , #{empNo}
		  , #{noticeContent}
		  , SYSDATE
		  )
	</insert>
	
	<!-- 게시글 삭제하기 -->
	<update id = "deleteNotice" parameterType = "_int">
		update
			   notice
		   set 
		       notice_status = 'N'
		 where notice_no = #{noticeNo}
	</update>
	
	
	<!--  게시글 검색하기 -->
	<select id="selectSearchListCount" resultType = "_int" parameterType="hashmap">
		select
			   count(*)
		  from notice
		  join employee using(emp_no) 	
		 where notice_status = 'Y'
		 <if test = "condition == 'title'">and notice_title</if>
		 <if test = "condition == 'content'">and notice_content</if>
		 <if test = "condition == 'writer'">and emp_name</if>
		  like '%' || #{keyword} || '%' 		 
	</select>
	
	
	<select id="selectSearchList" resultMap="noticeResultset" parameterType="hashmap">
		select
			   notice_no
			 , notice_title
			 , emp_name
			 , notice_count
			 , enroll_date
	      from notice
	      join employee using(emp_no) 	
	      where notice_status = 'Y' 

		<choose>
			<when test="condition == 'title'">and notice_title </when>
			<when test="condition == 'content'">and notice_content </when>
			<otherwise>and emp_name </otherwise>
		</choose>
			like '%' || #{keyword} || '%'
			order
			   by enroll_date desc 
	</select>
	
	<!-- 좋아요 카운트 -->
	<select id="likeCount" resultType = "_int">
		select
			   count(*) count
		  from tlike
		 where notice_no = #{noticeNo}
		   and emp_no = #{empNo}
	
	</select>
	
	<!-- 게시글 좋아요 -->
	<insert id="insertLike">
		insert
		  into tlike
		  (
		  	notice_no
		  , emp_no
		  )
		  values
		  (
		  	#{noticeNo}
		  , #{empNo}
		  )
	</insert>
	
	<!-- 게시글 좋아요 취소 -->
	<delete id="deleteLike">
		delete
		  from tlike
		 where notice_no = #{noticeNo}
		   and emp_no = #{empNo}
	</delete>
	
	
	<!-- 좋아요 전체 카운트 -->
	<select id="allLike" resultType = "_int">
		select 
			   notice_no
			 , emp_no
		  from
		       tlike
		 where notice_no = #{noticeNo}
	</select>
</mapper>
