<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/> 
	</settings>
	
	<typeAliases>
		<typeAlias type="com.kh.oworks.admin.model.vo.Admin" alias="Admin"/>
		<typeAlias type="com.kh.oworks.approval.model.vo.Approval" alias="Approval"/>
		<typeAlias type="com.kh.oworks.board.model.vo.FreeBoard" alias="FreeBoard"/>
		<typeAlias type="com.kh.oworks.board.model.vo.Reply" alias="Reply"/>
		<typeAlias type="com.kh.oworks.chat.model.vo.Chat" alias="Chat"/>
		<typeAlias type="com.kh.oworks.commute.model.vo.Commute" alias="Commute"/>
		<typeAlias type="com.kh.oworks.board.model.vo.DataBoard" alias="DataBoard"/>
		<typeAlias type="com.kh.oworks.employee.model.vo.Employee" alias="Employee"/>
		<typeAlias type="com.kh.oworks.mail.model.vo.Mail" alias="Mail"/>
		<typeAlias type="com.kh.oworks.schedule.model.vo.Schedule" alias="Schedule"/>
		<typeAlias type="com.kh.oworks.board.model.vo.Notice" alias="Notice"/>
		<typeAlias type="com.kh.oworks.approval.model.vo.ApprovalComment" alias="ApprovalComment"/>
		<typeAlias type="com.kh.oworks.approval.model.vo.ApprovalLine" alias="ApprovalLine"/>
		<typeAlias type="com.kh.oworks.approval.model.vo.FilePath" alias="FilePath"/>
		<typeAlias type="com.kh.oworks.board.model.vo.Like" alias="Like"/>
		<typeAlias type="com.kh.oworks.address.model.vo.Address" alias="Address"/>
		<typeAlias type="com.kh.oworks.address.model.vo.AddressOut" alias="AddressOut"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="/mappers/admin-mapper.xml"/>
		<mapper resource="/mappers/approval-mapper.xml"/>
		<mapper resource="/mappers/freeBoard-mapper.xml"/>
		<mapper resource="/mappers/chat-mapper.xml"/>
		<mapper resource="/mappers/commute-mapper.xml"/>
		<mapper resource="/mappers/dataBoard-mapper.xml"/>
		<mapper resource="/mappers/employee-mapper.xml"/>
		<mapper resource="/mappers/mail-mapper.xml"/>
		<mapper resource="/mappers/schedule-mapper.xml"/>
		<mapper resource="/mappers/notice-mapper.xml"/>
		<mapper resource="/mappers/address-mapper.xml"/>
		<mapper resource="/mappers/addressOut-mapper.xml"/>
	</mappers>
	
</configuration>
